<div class="grid-list-container">
  <mat-grid-list [cols]="columns$ | async" gutterSize="16">
    <mat-grid-title class="title" *ngFor="let product of products$ | async">
      <a class="title__content" fxLayout="column" fxLayoutAlign="center center"
        [routerLink]="['/products', product.id]">
        <span class="title__price-tag" ngClass.xs="title__price-tag--xs">
          {{ product.price | currency:'USD':'symbol':'.0' }}
        </span>

        <div class="title__thumbnail" [ngStyle]="{'background-image': 'url(' + product.imageUrl + ')'}"></div>

        <div class="title__title" ngClass.xs="title__title--xs" ngClass.sm="title__title--sm">{{ product.title }}</div>
      </a>
    </mat-grid-title>
  </mat-grid-list>
</div>